<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.practiseProgramms.Fibonacci"/>
      <class name="com.practiseProgramms.PrimeNum"/>
      <class name="com.practiseProgramms.FindDuplicateElementsInArray"/>
      <class name="com.practiseProgramms.EncryptionDecryption"/>
      <class name="com.practiseProgramms.PatteernProgramms"/>
      <class name="com.practiseProgramms.AnagramProgramm"/>
      <class name="com.practiseProgramms.SortingStrings"/>
      <class name="com.practiseProgramms.SortingArraysUsingInBuiltMethods"/>
      <class name="com.practiseProgramms.StringImmuatabilityCheck"/>
      <class name="com.practiseProgramms.CountNumOfTimesCharRepeatedInString"/>
      <class name="com.practiseProgramms.MissingNumInArray"/>
      <class name="com.practiseProgramms.TestDuplicateWordInArrayUsingMapSet"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
